section.py-lg-5
    nav.tab-nav#myBtnContainer
        button.btn.active(onclick="filterSelection('all')") ALL
        button.btn(onclick="filterSelection('website')") WEBSITE
        button.btn(onclick="filterSelection('mobileapp')") MOBILE APP
        button.btn(onclick="filterSelection('designsystem')") DESIGN SYSTEM
        button.btn(onclick="filterSelection('others')") OTHERS

    .tab-content 
        .row#worksContainer
        //- .row
        //-     .col-lg-4.mt-4.mb-4
        //-         a.card(href="#")
        //-             div.card-cover
        //-                 img(src=baseURL+"/img/works/thumb-sentralcargo.jpg", alt="") 
        //-             div 
        //-                 h5.card-title.mt-2.mb-1 Sentral Cargo 
        //-                 div 
        //-                     span.tag Web Design, Responsive
            
        //-     .col-lg-4.mt-4.mb-4
        //-         a.card(href="#")
        //-             div.card-cover
        //-                 img(src=baseURL+"/img/works/thumb-sentralcargo.jpg", alt="") 
        //-             div 
        //-                 h5.card-title.mt-2.mb-1 Jari PMI 
        //-                 div 
        //-                     span.tag Web Design, Responsive

        //-     .col-lg-4.mt-4.mb-4
        //-         a.card(href="#")
        //-             div.card-cover
        //-                 img(src=baseURL+"/img/works/thumb-sentralcargo.jpg", alt="") 
        //-             div 
        //-                 h5.card-title.mt-2.mb-1 Urbanhire 
        //-                 div 
        //-                     span.tag Web Design, Responsive

        //-     .col-lg-4.mt-4.mb-4
        //-         a.card(href="#")
        //-             div.card-cover
        //-                 img(src=baseURL+"/img/works/thumb-sentralcargo.jpg", alt="") 
        //-             div 
        //-                 h5.card-title.mt-2.mb-1 Urbanhire 
        //-                 div 
        //-                     span.tag Web Design, Responsive

