//- INDEX LANDING PAGES
//- start variable
- var pageActive = 'beranda'
- var baseURL = ''
- var contentDescription = {}
- ogImageURL = baseURL+"img/jaripmi-berdaya.jpg"
- contentDescription.title = "Dika Soul Seva | Product Designer | UI/UX Designer"
- contentDescription.description = "A Product Designer with more than 10 years of experiences in designing user experience through digital products."

doctype html
html(lang="en" page-class="home")
    include pug/includes/html_head.pug
    body
        
        // header
        include pug/includes/header.pug
        
        // nav
        include pug/includes/nav.pug

        // main
        main.site-main
            .container
                .row 
                    .col-lg-4
                        include pug/home/aside.pug
                    .col-lg-8
                        include pug/home/section_hero.pug
                        include pug/home/section_about.pug
                        include pug/home/section_skills.pug
                        include pug/home/section_works.pug
                        include pug/home/section_photography.pug
            
            

        

        // Footer


    include pug/includes/html_foot.pug

