//- INDEX LANDING PAGES
//- start variable
- var pageActive = 'beranda'
- var baseURL = ''
- var contentDescription = {}
- ogImageURL = baseURL+"img/jaripmi-berdaya.jpg"
- contentDescription.title = "Dika Soul Seva | Product Designer | UI/UX Designer"
- contentDescription.description = "A Product Designer with more than 10 years of experiences in designing user experience through digital products."

doctype html
html(lang="en" page-class="home")
    include pug/includes/html_head.pug
    body
        
        // header
        // nav
        // main
        main 
            h1 Hello World

        

        // Footer


    include pug/includes/html_foot.pug

