@import "variable";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

::selection {
    background: var(--primary);
    color: #fff;
}
::-moz-selection {
    background: var(--primary);
    color: #fff;
}

body{
    font-size: 1.125rem;
    position: relative;
}



// 
@import "normalize";
@import "font-custom";
@import "bootstrap-grid";

h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}
h1, .h1{
    font-size: 4rem;
}
h2, .h2{
    font-size: 3.5rem;
}
h3, .h3{
    font-size: 3rem;
}
h4, .h4{
    font-size: 2.5rem;
}
h5, .h5{
    font-size: 1.75rem;
}
h6, .h6{
    font-size: 1.125rem;
}

.w-100{
    width: 100%;
}
.text-light{
    color: var(--text-tertiary);
}

.outline{
    outline: solid 1px red;
}
.site-header{
    width: 100%;
    height: 50px;
    border-bottom: solid 1px var(--border-default);
    position: fixed;
    top:0;
    left:0;
    z-index: 98;
    background-color: white;
}

.site-nav{
    width: 50px;
    height: 100%;
    border-right: solid 1px var(--border-default);
    position: fixed;
    top:0;
    left:0;
    z-index: 99;
    background-color: white;
}
.site-logo{
    width: 50px;
    height: 50px;
    // background-color: yellow;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 13px 0;
    margin:0;
    img{
        margin:0;
        padding: 0;
    }
}

.site-aside{
    position: sticky;
    top: 0px;
}

.site-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: rotate(-90deg);
    transform-origin: top left;
    margin-top: 50px;
    
    li{
        width: auto;
        height: 50px;
        
        a{
            text-decoration: none;
            color: var(--text-secondary);
            display: inline-block;
            width: auto;
            height: 100%;
            padding: 0 1rem;
            position: relative;
            letter-spacing: .1rem;
            &:hover{
                background-color: var(--bg-default);
                &::before{
                    display: block;
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: var(--primary);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 2;
                }
            }
            
        }
        &.is-active{
            a{
                &::before{
                    display: block;
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: var(--primary);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 2;
                }
            }
        }
    }
    
}

.site-main{
    padding-top: 0px;
    padding-left: 50px;
    background-color: white;
}

.section-full{
    min-height: calc(100vh - 0px);
    // outline: solid 1px red;
}

.adjust-anchor{
    &:target:before {
        content:"";
        display:block;
        height:50px; /* fixed header height*/
        margin:-50px 0 0; /* negative fixed header height */
    }
}

.title-main{
    font-weight: 400;
    font-size: 6.5rem;
    letter-spacing: 1rem;
    line-height: 1.2em;
    position: relative;
    margin: 0 0 2rem 0;
    padding-bottom: 2rem;
    &:after{
        content: "";
        width: 72px;
        height: 5px;
        display: block;
        background: #222;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    span{
        display: block;
        &:nth-child(1){
            letter-spacing: 1.4rem;
            color: var(--text-primary);
        }
        &:nth-child(2){
            color: var(--text-tertiary);
        }
        &:nth-child(3){
            letter-spacing: 1.1rem;
            color: var(--text-primary);
        }
    }
}
.title-sub{
    letter-spacing: .1rem;
    font-size: 1.5rem;
}

.list-casual{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
        padding: .5rem .5rem;
        &:hover{
            background-color: var(--text-secondary);
            color: white;
        }
    }
}

.works-container{
    width: 100%;
    height: auto;
}

.card-wrapper{
  display: none;
}

.show{
  display: block;
}

  .card{
    // border: solid 1px var(--border-default);
    display:block;
    position: relative;
    text-decoration: none;
    color: var(--text-primary);

    .card-cover{
      // perspective: 1000px;
      // perspective-origin: 50% 50%;
      aspect-ratio: 16/9;
      & > img {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        position: absolute;
        z-index: 0;
        border: transparent 1px solid;
        // transition: cubic-bezier(.76,.34,.23,.65) .2s
        
      }
    }
    &:hover{
      .card-cover{
        
        & > img {
          transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(-15deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
          border: solid 1px var(--text-tertiary);
        }
      }
      .card-title{
        text-decoration: underline;
      }
    }
  }

  .photo-item{
    margin-bottom:-4px
  }

  .btn{
    border:solid 1px var(--text-primary);
    background-color: white;
      color: var(--text-primary);
    text-decoration: none;
    padding: .5rem .75rem;
    display: inline-block;
    line-height: 1.25rem;
    &:hover{
      background-color: var(--text-primary);
      color: white;
    }
    &.active{
      background-color: var(--text-primary);
      color: white;
    }
  }

  .tag{
    font-size: 1rem;
    color: var(--text-secondary);
  }