@font-face {
  font-family: "wask_newregular";
  src: url("fonts/wask_new-webfont-webfont.eot");
  src: url("fonts/wask_new-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/wask_new-webfont-webfont.woff") format("woff"), url("fonts/wask_new-webfont-webfont.ttf") format("truetype"), url("fonts/wask_new-webfont-webfont.svg#wask_newregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "wask_newbold";
  src: url("fonts/wask_new_bold-webfont-webfont.eot");
  src: url("fonts/wask_new_bold-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/wask_new_bold-webfont-webfont.woff") format("woff"), url("fonts/wask_new_bold-webfont-webfont.ttf") format("truetype"), url("fonts/wask_new_bold-webfont-webfont.svg#wask_newbold") format("svg");
  font-weight: normal;
  font-style: normal;
}