aside.site-aside.section-full.d-flex.align-items-center
    div.w-100
        h1.title-main
            span DIKA 
            span SOUL 
            span SEVA 

        h2.h5.my-0.title-sub
            | UI/UX PRODUCT DESIGNER