section#skills.py-lg-5.section-full.d-flex.align-items-center
    .row 
        .col-12
            h3.mb-0 SKILLS
            p.mt-2.text-light
                i Area of expertise
        .row
            .col-lg-4
                h5.mt-0.mb-3 SOFT
                ul.list-casual 
                    li Design systems and style guides
                    li Wireframing and prototyping
                    li Rapid Prototyping
                    li Wireframing
                    li Iconography
                    li Responsive design

            .col-lg-4 
                h5.mt-0.mb-3 TOOL
                ul.list-casual 
                    li Figma
                    li Sketch App
                    li 
                        | Adobe Creative Suite 
                        i (Ps, Ai, Lr, Xd)
                    li Figjam

            .col-lg-4
                h5.mt-0.mb-3 TECHNICAL
                ul.list-casual 
                    li HTML and CSS
                    li Jquery and basic JavaScript
                    li Pug (JavaScript)
                    li Sass CSS
                    li Understanding of Semantic HTML, SEO-friendly practices, web performance, and image optimization
                    li Familiarity with front-end frameworks such as Bootstrap