section#about.py-lg-5.section-full.d-flex.align-items-center
    .row 
        .col-12
            h3.mb-0 ABOUT
            p.mt-2.text-light
                i In a nutshell 

            p I am a Product Designer with over 10 years of comprehensive experience in User Interface and User Experience Design. Interested in clean and simple designs, seamless interactions, and have a pixel-perfect mindset.
            p I possess advanced experience in HTML and CSS and care deeply about creating exceptional designs, micro-interactions, and animations.