section#home.py-lg-5.section-full.d-flex.align-items-center.adjust-anchor.scrollspy-content
    .row
        .col-12
            img(loading='lazy' src=baseURL+"img/hero-dikaseva.webp", alt="Dika Soul Seva | Product Designer | UI / UX Designer")