section#works.py-lg-5.section-full.d-flex.align-items-center.scrollspy-content
    div
        .row 
            .col-12
                h3.mb-0 WORKS
                p.mt-2.text-light
                    i Some of results

        .row
            //- - var n = 1;
            //- while n < 4
            //-     .col-lg-4.col-md-6
            //-         a.card-work(href="#") 
            //-             .card-cover
            //-                 img.w-100(loading='lazy' src=baseURL+'img/photo/'+ n++ +'.jpg' alt='Dika Soul Seva Photo | Product Designer | UI / UX Designer')
                    
            //-             h6 workTitle++
            //-             div 
            //-                 span.tag Landing page 
            //-                 span.tag Lainnya

            //- each val in [1, 2, 3]
            each title, val in ["A", "B", "C"]
                    .col-lg-4.col-md-6
                        a.card-work(href="#") 
                            .card-cover
                                img.w-100(loading='lazy' src=baseURL+'img/photo/'+ val +'.jpg' alt='Dika Soul Seva Photo | Product Designer | UI / UX Designer')

