section#works.py-lg-5.section-full.d-flex.align-items-center.scrollspy-content
    div.w-100
        .row 
            .col-12
                div
                    h3.mb-0 WORKS
                    .d-flex.justify-content-between.alignt-items-center
                        div
                            p.mt-2.text-light
                                i Some of results
                        div
                            a.btn(href=baseURL+"/works") SEE ALL
                
                    

        .row.w-100#worksCuratedContainer